/* RESET */
*{margin:0; padding: 0px; font-seze:100%; box-sizing: border-box; font-family: Arial, Helvetica, Sans-serif;}
nav, ul{ list-style:none;}
a{text-decoration: none; cursor: pointer; opacity: 0.9;}
a:hover{opacity:1;color:#0a0;}

html{scroll-behavior:smooth;}

/* NAV */
.navbar{ background-color:#214508; width: 100%;display:flex; justify-content: space-between; align-items: center; padding:10px 50px;position: fixed;top: 0;left: 0;
}
nav #logo{border:none;}
nav img{max-width: 200px;}
nav nav{display: flex;}
nav li a{color:#fff;font-size:max(16px,1.5vw);}
nav li {margin:0 15px;text-align:center;}
nav li:first-child{margin: left 0;}
nav li:last-child{margin-right: 0;}

@media(max-width:700px){
	.navbar{flex-direction: column;}
	.navbar nav{flex-direction: column;}
	nav img{width:100px;}
	nav nav a{font-size: 8px;display: none;}


	/* nav {flex-direction:column;} */
}
header .headerline-btn{
	display: flex;align-items: center;
	position: fixed;left:10px;bottom: 10px;
	padding: 10px 30px;
	background:linear-gradient(0deg, #214508, #058030 );
	border-radius: 20px;
}
header .headerline-btn a{
	color:#fff;
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 10px;
}
header .headerline-btn {display: flex;}

@media(max-width:700px){
	header .headerline-btn{padding: 5px 10px;}
	header .headerline-btn a{font-size: 8px;}
}

#moldura{
	margin-top: max(50px, 70px);
	margin-bottom: 30px;
	width:100%;
	height:max(33vw);
	background-size:contain;
	background-repeat:no-repeat;
	
}
@media(max-width:700px){
	.bg-headerline{display: flex;flex-direction: column;justify-content: center;}
	.bg-headerline #moldura{width: max(50px,100vw);}
}



@media(max-width:700px){
	/* #moldura {height:20vh;} */
}

section{display:flex;flex-direction:column;align-items:center;align-items:top;
}
section p{font-size:max(14px,2vw);margin-bottom:10px;}
section h2{font-size:max(30px,5vw);text-align: center;line-height:1.0;color:#ffb504;margin-bottom:20px;font-weight: 800;}
.cards{
	display:flex;
	width:100%;
	/*background-color:#ccc;*/
	flex-flow: now nowrap;
	justify-content:center;
	margin-bottom:50px;
}
.cards .card{
	align-items:center;
	display:flex;
	flex-direction:column;
	background-color:#fff;
	width:25vw;
	/*height:25vw;*/
	padding:20px;
	margin:0 10px;
	border-radius:20px;
	flex-wrap:nowrap;
	justify-content:center;

	box-shadow:5px 5px 15px #888;
}
.cards .card h3{font-size:max(5px,100%);margin-bottom:20px;}
.cards .card p{font-size:max(5px,100%); text-align:justify;}

@media(max-width:700px){

	.cards{flex-direction: column;width: 100%;align-items: center;}
	.cards .card{margin-bottom: 20px;width: 90%;}

}


